
.nav-header {
	background-image: none !important;
	background-color: #2F4050 !important; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.modal-dialog-upload{
    height: auto;
    min-height: 500px;   
}

.enlarge-down-80 {
  padding-bottom: 80px !important;
}

.vip_text {
  color: #f7941e !important;
}


@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}


/* ibox override*/
.ibox-title {
  border-style: none !important;
}

.ibox-content {
  border-style: none !important;
}


.border-object {
  border:1px solid #e7eaec;
}

.border-object-search {
  border:1px solid #c0392b;
}

/* end ibox */

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}