<p>Ahoj <%= @resource.email %>!</p>

<p>Niekto si vyžiadal zmenu tvojho hesla do knižnice. Môžeš tak spraviť na nasledovnom linku</p>

<p><%= link_to 'Zmeň heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ak si si nevyžiadal zmenu prosím ignoruj tento email.</p>
<p>Tvoje heslo sa nezmení pokiaľ neklikneš na link a nezmeníš si ho.</p>
