<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            
        </div>

            <ul class="nav navbar-top-links navbar-right">

        

       

         
           


                <li>
                    <i class="fa fa-sign-out"></i>
                    <%= content_tag(:li, link_to('Logout', destroy_user_session_path, method: :delete)) %> 
                         
                        
                    
                </li>
              
            </ul>

        </nav>

